#title {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: monospace;
}

#game-win {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 600px;
    border: 2px solid black;
}

#background {
    background-image: url("/resources/grass.png");
    height: 600px;
    width: 800px;
}

#soils {
    padding-top: 70px;
    padding-left: 50px;
}

#soils img {
    padding-left: 5px;
    padding-bottom: 5px;
}

#soils img:hover {
    cursor: pointer;
}


#coins {
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 900;
    font-size: large;
    font-family: cursive;
}

#menu {
    position: relative;
}

#img_menu {
    padding-top: 40px;
    position: absolute;
}

#img_carot {
    padding-top: 80px;
    padding-left: 60px;
    position: absolute;
}

#carots {
    position: absolute;
    padding-top: 80px;
    padding-left: 100px;
    font-size: 25px;
}

#sell_carots {
    padding-top: 20px;
    padding-right: 20px;
    float: right;
    font-size: 25px;
}

#sell_carots:hover {
    cursor: pointer;
}